$white: #fff;
$main-blue: #4955F5;
$white-transparent: rgba(255,255,255,0.7);
$white-background: rgb(245, 247, 250);
$box-shadow-hover:  0px 0px 18px rgba(91, 91, 93, 0.33);
$light-red: #ED5B55;
$black: rgb(0,0,0);
$light-black: rgb(32, 30, 30);
$layout-popup:rgba(0,0,0,0.8);

$gray: gray;
$title-gray: #605f5c;
$dark-gray: #333;
$light-gray: #eee;

$red: red;

$loader-color: #007bff;
$light-blue: #417dbd;


